// ---------------------------------------------------------------------------------
// Tang Nano 9K - Physical constraints
// ---------------------------------------------------------------------------------
//
//      1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
//     67 86 85 84 83 82 81 80 79 77 76 75 74 73 72 71 70 5V 48 49 31 32 GD 3V3 
//  USB                                                                       HDMI
//     38 37 36 39 25 26 27 28 29 30 33 34 40 35 41 42 51 53 54 55 56 57 68 69   
//
// ---------------------------------------------------------------------------------

// Clock
IO_LOC "clk_i"  52; IO_PORT "clk_i" IO_TYPE=LVCMOS33;

// Onboard USER LED
IO_LOC "led_o[4]" 15; IO_PORT "led_o[4]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 
IO_LOC "led_o[3]" 14; IO_PORT "led_o[3]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 
IO_LOC "led_o[2]" 13; IO_PORT "led_o[2]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 
IO_LOC "led_o[1]" 11; IO_PORT "led_o[1]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 
IO_LOC "led_o[0]" 10; IO_PORT "led_o[0]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 

// LED 6 is reserved for signalling an MCU trap.
IO_LOC "led_trap_o" 16; IO_PORT "led_trap_o" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP; 

// Onboard UART (USB)
IO_LOC "ftdi_o" 17; IO_PORT "ftdi_o" IO_TYPE=LVCMOS33;
//IO_LOC "ftdi_i" 18; IO_PORT "uart_rx_i" IO_TYPE=LVCMOS33 PCI_CLAMP=OFF;

// MIDI input
IO_LOC "midi_i" 74; IO_PORT "midi_i" IO_TYPE=LVCMOS33;

// LA Pins
IO_LOC "dio_o[0]" 69; IO_PORT "dio_o[0]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[1]" 68; IO_PORT "dio_o[1]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[2]" 57; IO_PORT "dio_o[2]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[3]" 56; IO_PORT "dio_o[3]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[4]" 55; IO_PORT "dio_o[4]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[5]" 54; IO_PORT "dio_o[5]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[6]" 53; IO_PORT "dio_o[6]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[7]" 51; IO_PORT "dio_o[7]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[8]" 42; IO_PORT "dio_o[8]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[9]" 41; IO_PORT "dio_o[9]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[10]" 35; IO_PORT "dio_o[10]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[11]" 34; IO_PORT "dio_o[11]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[12]" 33; IO_PORT "dio_o[12]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[13]" 30; IO_PORT "dio_o[13]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[14]" 29; IO_PORT "dio_o[14]" IO_TYPE=LVCMOS33;
IO_LOC "dio_o[15]" 28; IO_PORT "dio_o[15]" IO_TYPE=LVCMOS33;




